{{define "table-bordered"}}
<!-- Main content -->
<section class="content" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{index .TableTplParam "Title"}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <th v-for="column in columns">{{"{{ column.title }}"}}</th>
                            </tr>

                            <tr v-for="tData in tableData">
                                <td v-for="column in columns">{{"{{ tData[column.field] }}"}}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item" :class="{disabled:pstart}"><a class="page-link" href="javascript:;" @click="jumpPrevPage()">&laquo;</a></li>
                            <li class="page-item" v-show="current_page>5"><a class="page-link" href="javascript:;" @click="jumpPage(1)" >1</a></li>
                            <li class="page-item" v-show="efont"><a class="page-link" href="javascript:;" >...</a></li>
                            <li class="page-item" :class="{active:current_page==num}" v-for="num in indexs" ><a class="page-link" href="javascript:;" @click="jumpPage(num)" >{{ "{{num}}" }}</a></li>
                            <li class="page-item" v-show="ebehind"><a class="page-link" href="javascript:;" >...</a></li>
                            <li class="page-item" v-show="current_page<pages-4"><a class="page-link" href="javascript:;" @click="jumpPage(pages)">{{ "{{pages}}" }}</a></li>
                            <li class="page-item" :class="{disabled:pend}"><a class="page-link" href="javascript:;" @click="jumpNextPage()">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<script>
    var v = new Vue({
        el: '#app',
        data: {
            current_page: 1, //当前页
            pages: 50, //总页数
            limit: 10,
            changePage:'',//跳转页
            nowIndex:0,
            tableData: [{
                "Id": 1,
                "ObjectId": "o1",
                "Score": 0,
                "PlayerName": "name1",
                "Demo": "1",
                "DemoOk": "2",
                "Demottt": "3"
            }],
            columns: []
        },
        computed:{
            show:function(){
                return this.pages && this.pages !=1
            },
            pstart: function() {
                return this.current_page == 1;
            },
            pend: function() {
                return this.current_page == this.pages;
            },
            efont: function() {
                if (this.pages <= 7) return false;
                return this.current_page > 5
            },
            ebehind: function() {
                if (this.pages <= 7) return false;
                var nowAy = this.indexs;
                return nowAy[nowAy.length - 1] != this.pages;
            },
            indexs: function() {

                var left = 1,
                        right = this.pages,
                        ar = [];
                if (this.pages >= 7) {
                    if (this.current_page > 5 && this.current_page < this.pages - 4) {
                        left = Number(this.current_page) - 3;
                        right = Number(this.current_page) + 3;
                    } else {
                        if (this.current_page <= 5) {
                            left = 1;
                            right = 7;
                        } else {
                            right = this.pages;

                            left = this.pages - 6;
                        }
                    }
                }
                while (left <= right) {
                    ar.push(left);
                    left++;
                }
                return ar;
            },
        },
        methods: {
            jumpPage: function(p) {
                var obj = this;
                $.ajax({
                    type : "GET",
                    url : ' {{index .TableTplParam "GetDataUrl"}}',
                    data : {
                        limit : this.limit,
                        offset : (p-1) * this.limit,
                    },
                    success : function(data) {
                        obj.tableData = data.data;
                        obj.initPage(data.total,obj.limit)
                    },
                    error : function(){
                        alert("错误");
                    }

                });
                this.current_page = p;
            },
            initPage: function (total,limit) {
                this.pages = Math.ceil(total/limit);
                this.limit = limit;
            },
            jumpNextPage:function () {
                if(this.current_page >= this.pages){
                    return;
                }
                this.jumpPage(this.current_page+1)
            },
            jumpPrevPage:function () {
                if(this.current_page <= 1){
                    return;
                }
                this.jumpPage(this.current_page-1)
            }
        },

    });
    v.columns = JSON.parse("{{index .TableTplParam "ThList"}}");
    v.jumpPage(1);
</script>
{{end}}
